<nav class="navbar navbar-expand-md navbar-dark bg-success">
    <div class="container">

        <a class="navbar-brand" href="#">Filter Expression Creator</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="d-block" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                        Home
                    </span>
                </NavLink>
                <NavLink class="nav-link" href="demo">
                    <span class="d-block" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
                        Demo
                    </span>
                </NavLink>
            </ul>
        </div>

    </div>
</nav>