@import url('bootstrap/bootstrap.min.css');
@import url('bootstrap/bootstrap.fonts.css');
@import url('github-corners/github-corner.css');
@import url('theme/plainquire.theme.css');

/* ----------------------------------------- */
/* Page
/* ----------------------------------------- */
a {
    cursor: pointer;
}

.w-fitcontent {
    width: fit-content;
}

/* ----------------------------------------- */
/* Footer
/* ----------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom == footer height */
    margin-bottom: 6rem !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6rem;
}

/* ReSharper disable All */
/* ----------------------------------------- */
/* Balzor
/* ----------------------------------------- */
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}