@page "/"
@inherits IndexPage

<h1>Filter Expression Creator</h1>
<p>Library to dynamically create lambda expressions to filter lists and database queries.</p>

<h2>Documentation</h2>
<p>
    <div>Documentation can be found on GitHub:</div>
    <a target="_blank" href="https://github.com/fschick/FilterExpressionCreator">https://github.com/fschick/FilterExpressionCreator</a>
</p>

<h2>Demo</h2>
<p>
    <table>
        <tr>
            <td><span class="me-2">App :</span></td>
            <td>
                <a href="@DemoAppLink">@DemoAppLink</a>
            </td>
        </tr>
        <tr>
            <td><span class="me-2">OpenAPI :</span></td>
            <td><a href="@OpeApiLink">@OpeApiLink</a></td>
        </tr>
    </table>
</p>