:root {
    --bs-body-font-family: 'Poppins';
    --bs-border-radius: var(--bs-border-radius-lg) 0;
    --bs-tertiary-color: #7B7B7B;
    --bs-success-rgb: 83, 170, 56;
}

[data-bs-theme=light] {
    --bs-info-bg-subtle: #EBF5DF;
    --bs-info-bg-subtle: rgba(255, 255, 255, 0.75);
    --bs-body-color: #333333;
}

[data-bs-theme=dark] {
    --bs-info-bg-subtle: #333B2B;
    --bs-info-bg-subtle: rgba(35, 35, 35, 0.75);
    --bs-body-color: #F2F2F2;
    --bs-body-bg: #3E3F3A;
}

.navbar-nav {
    --bs-nav-link-font-weight: bold;
}

.page-link {
    --bs-pagination-color: rgb(var(--bs-success-rgb));
    --bs-pagination-hover-color: rgb(var(--bs-success-rgb));
    --bs-pagination-active-bg: rgb(var(--bs-success-rgb));
    --bs-pagination-active-border-color: rgb(var(--bs-success-rgb));
}

[data-bs-theme=light] body {
    background: linear-gradient(to bottom, #FFFFFF, #FAFAFA);
}

[data-bs-theme=dark] body {
    background: linear-gradient(to bottom, #001008, #3E3F3A);
}

header {
    position: relative;
}

    header:after {
        content: "";
        display: block;
        height: 600px;
        width: 80%;
        background: linear-gradient(to right, #9dd318, #29bc65);
        border-radius: 50%;
        position: absolute;
        top: -150px;
        left: 10%;
        z-index: -1;
        filter: blur(100px);
        opacity: .25;
        transform: rotate(5deg);
    }

.btn-primary {
    --bs-btn-bg: rgb(var(--bs-success-rgb));
    --bs-btn-active-bg: rgb(var(--bs-success-rgb));
    --bs-btn-hover-bg: rgb(var(--bs-success-rgb));
    --bs-btn-border-color: rgb(var(--bs-success-rgb));
    --bs-btn-hover-border-color: rgb(var(--bs-success-rgb));
    --bs-btn-active-border-color: rgb(var(--bs-success-rgb));
}

.btn-outline-primary {
    --bs-btn-color: rgb(var(--bs-success-rgb));
    --bs-btn-hover-bg: rgb(var(--bs-success-rgb));
    --bs-btn-active-bg: rgb(var(--bs-success-rgb));
    --bs-btn-border-color: rgb(var(--bs-success-rgb));
    --bs-btn-hover-border-color: rgb(var(--bs-success-rgb));
    --bs-btn-active-border-color: rgb(var(--bs-success-rgb));
}

[data-bs-theme=light] .btn-outline-primary {
    --bs-btn-bg: white;
}

[data-bs-theme=dark] .btn-outline-secondary {
    --bs-btn-color: var(--bs-secondary-color);
}

.btn-success {
    --bs-btn-font-weight: bold;
    --bs-border-width: 0;
    --bs-btn-bg: #89C720;
    --bs-btn-active-bg: rgb(var(--bs-success-rgb));
    --bs-btn-hover-bg: rgb(var(--bs-success-rgb));
    background-image: linear-gradient(90deg, #9ED317, #208D4F);
}

    .btn-success:hover {
        background-image: linear-gradient(90deg, #74BC2A, #1A7540);
    }

.btn-outline-success {
    --bs-btn-font-weight: bold;
    --bs-btn-color: rgb(var(--bs-success-rgb));
    --bs-btn-border-color: rgb(var(--bs-success-rgb));
    --bs-btn-active-border-color: rgb(var(--bs-success-rgb));
    --bs-btn-hover-border-color: rgb(var(--bs-success-rgb));
    --bs-btn-active-bg: rgb(var(--bs-success-rgb));
    --bs-btn-hover-bg: rgb(var(--bs-success-rgb));
}
