@inherits MainLayoutPage

<header class="container-fluid fixed-top px-0 bg-primary">
    <NavMenu></NavMenu>
</header>

<main role="main" class="container pb-3" style="padding-top: 5rem;">
    @Body
</main>

<footer class="d-flex flex-column bg-white">
    <hr class="m-0" />
    <div class="row mx-0 h-100 align-items-center">
        <div class="col p-0 text-center">
            <small class="text-muted">
                @ProductName, Version @ProductVersion | @Copyright |
                <a class="text-muted" href="https://www.schick-software.de/#!imprint" target="_blank">Imprint</a> |
                <a class="text-muted" href="https://www.schick-software.de/#!privacy" target="_blank">Privacy&nbsp;Policy</a> |
                <a class="text-muted" href="https://github.com/fschick/FilterExpressionCreator" target="_blank">Source&nbsp;code&nbsp;on&nbsp;GitHub</a>
            </small>
        </div>
    </div>
</footer>

