.breakpoint {
    position: fixed;
    z-index: 5000;
    top: 10px;
    left: 6px;
}
[data-bs-theme=dark] .theme-filter {
    filter: invert(83%) sepia(8%) saturate(43%) hue-rotate(47deg) brightness(91%) contrast(88%);
}

[data-bs-theme=light] .theme-filter {
    filter: invert(36%) sepia(0%) saturate(1095%) hue-rotate(174deg) brightness(90%) contrast(86%);
}
