.description {
    text-overflow: ellipsis;
    width: 20%;
    max-width: 1px;
    white-space: nowrap;
    overflow: hidden;
}

.semibold {
    font-weight: 600;
}

.page-size {
    line-height: 1.2;
}

.sql {
    white-space: pre-wrap;
}
