@page "/"
@inherits IndexPage

<h1>Plainquire</h1>
<p>Easy filtering, sorting and paging for ASP.NET Core.</p>

<a class="btn btn-outline-secondary cta-button" href="@DemoAppLink">
    <img src="images/box-arrow-up-right.svg" alt="Live Demo" class="logo-send me-1">
    Demo
</a>

<a class="btn btn-outline-secondary cta-button" href="@OpeApiLink">
    <img src="images/send-fill.svg" alt="Live Demo" class="logo-send me-1">
    API
</a>

<a class="btn btn-outline-secondary cta-button" href="https://github.com/plainquire/plainquire">
    <img src="images/github.svg" alt="Live Demo" class="logo-send me-1">
    GitHub
</a>

<h2 class="mt-4">Overview</h2>
<p class="lead">
    <span>From your browser</span>
    <img class="overview-img" src="images/browser.svg" alt="Browser" />
</p>
<p class="lead">
    <span>Mapped to queries</span>
    <img class="overview-img" src="images/code.svg" alt="Code" />
</p>
<p class="lead">
    <span>Results in generated SQL</span>
    <img class="overview-img" src="images/sql.svg" alt="SQL" />
</p>