@typeparam TItem

<div class="table-responsive mt-3">
    <table class="table table-sm fw-light">
        <thead>
            @HeaderTemplate
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                @RowTemplate(item)
            }
        </tbody>
    </table>
</div>